<ion-view view-title="Sign-In">
        <ion-content>
          <form name="loginForm">
          <img class="login-view-logo" src="main/assets/images/coloring.png" alt="" />
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" name="Email" required ng-model="user.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" name="password" required ng-model="user.pwdForLogin">
            </label>
          </div>
        </form>
          <div class="padding">
            <button class="button button-block gold-background" ng-click="signIn(user)" ng-disabled='loginForm.username.$error.required || loginForm.password.$error.required'>
              Sign-In
            </button>
            <button class="button button-block button-dark" ng-click="openModal()" >
                Create New Account
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
