<ion-view view-title="News">
  <ion-content class="padding">
    <div class="list">
    <a class="item item-thumbnail-left" href="#/tab/newsfeed">
        <i class="icon ion-android-calendar articles-icon-size"></i>
      <h2>Events</h2>
      <p>Things happening</p>
    </a>
    <a class="item item-thumbnail-left" href="#/tab/newsfeed">
        <i class="icon ion-ribbon-a articles-icon-size"></i>
      <h2>Top Posts</h2>
      <p>Groupe starts</p>
    </a>
    <a class="item item-thumbnail-left" href="#/tab/newsfeed">
        <i class="icon ion-stats-bars articles-icon-size"></i>
      <h2>Stats</h2>
      <p>Groupe statistics</p>
    </a>
</div>
  </ion-content>
</ion-view>
